* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
}

.footer-wrapl {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1.2rem;
    align-items: center;
}

.footer-fade-text {
    position: absolute;
    right: 40%;
    bottom: 10%;
    color: #535c87;
    user-select: none;
    font-size: 2rem;
}

.link-wrapl {
    display: flex;
    gap: 1.2rem;
}

.link-wrapl div a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

.link-wrapl div a:hover {
    color: var(--bgOrange);
}

.footer-icon-wrapl {
    display: flex;
    gap: 1rem;
}

.dsa {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

/* Media query for small screens */
@media only screen and (max-width: 768px) {
    /* Message for mobile users */
    body::after {
        content: "For a better experience, please switch to desktop.";
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #f44336;  /* Red background */
        color: white;
        text-align: center;
        padding: 15px;
        font-size: 16px;
        z-index: 9999;
    }
}
